# Nested Loop

In [ ]:
for i in range(0,5):
  print("Loop 1:",i)

Loop 1: 0
Loop 1: 1
Loop 1: 2
Loop 1: 3
Loop 1: 4

In [ ]:
for i in range(0,2):
  print("\nOuter loop ",i)
  for j in range(0,2):
    print("Inner loop ", j)

Outer loop  0
Inner loop  0
Inner loop  1

Outer loop  1
Inner loop  0
Inner loop  1

In [ ]:
for i in range(0,3):
  for j in range(0,3):
    if(i<=j):
      print(i,j, end=' ')
  print()

0 0 0 1 0 2
1 1 1 2
2 2

In [ ]:
for i in range(0,2):
  print("\nOuter loop ",i)
  for j in range(0,2):
    print("\nMiddle loop ", j)
    for k in range(0,2):
      print("Inner loop ",k)

Outer loop  0

Middle loop  0
Inner loop  0
Inner loop  1

Middle loop  1
Inner loop  0
Inner loop  1

Outer loop  1

Middle loop  0
Inner loop  0
Inner loop  1

Middle loop  1
Inner loop  0
Inner loop  1

In [ ]:
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      print(i,j,k, end='   ')
    print()
  print()

0 0 0   0 0 1   0 0 2
0 1 0   0 1 1   0 1 2
0 2 0   0 2 1   0 2 2

1 0 0   1 0 1   1 0 2
1 1 0   1 1 1   1 1 2
1 2 0   1 2 1   1 2 2

2 0 0   2 0 1   2 0 2
2 1 0   2 1 1   2 1 2
2 2 0   2 2 1   2 2 2

# Tuples
In Python tuples are very similar to lists,unlike lists they are immutable meaning they can not be changed.

**Constructing Tuple**

In [ ]:
t=(1,2,3,"One","Two","Three")

In [ ]:
type(t)

tuple

In [ ]:
print(t)

(1, 2, 3, 'One', 'Two', 'Three')

**Doing Some Operations on Tuple**

In [ ]:
t2=(1,2,3,4,5)

In [ ]:
t2[0]

1

In [ ]:
t2[1:4]

(2, 3, 4)

In [ ]:
t2[1:4:2]

(2, 4)

In [ ]:
t2.index(5)

4

In [ ]:
t2.count(2)

1

In [ ]:
len(t2)

5

In [ ]:
print(sum(t2))
print(min(t2))
print(max(t2))

15
1
5

In [ ]:
if t2[0]==1:
  print("Right")
else:
  print("Wrong")

Right

In [ ]:
t3=(1,2,3,8,10)
i=0
while i<len(t3):
  print(t3[i])
  i=i+1
else:
  print("The End")

1
2
3
8
10
The End

In [ ]:
t4=("I am a student","Teacher",1,2,4)
for i in t4:
  print(i)

I am a student
Teacher
1
2
4

In [ ]:
print(t4+t4)
print(t3*3)

('I am a student', 'Teacher', 1, 2, 4, 'I am a student', 'Teacher', 1, 2, 4)
(1, 2, 3, 8, 10, 1, 2, 3, 8, 10, 1, 2, 3, 8, 10)

Immutability

In [ ]:
t2[0]=1

TypeError: ignored

In [ ]:
t2.append(6)

AttributeError: ignored

In [ ]:
L=list(t3)

In [ ]:
print(L)

[1, 2, 3, 8, 10]

# Dictionary

We are going to talk about mapping in Python.

A Python dictionary consists of a key and then an associated value.


Key: string, integer, tuple

Value: Any data type

**Keys have to be unique**

**Values can be duplicated**

**Constructing Dictionary**

In [ ]:

D={'key1':"Value1",'key2':"Value2",'key3':"Value1"}

In [ ]:
D

{'key1': 'Value1', 'key2': 'Value2', 'key3': 'Value1'}

In [ ]:
D1={'key1':"Value1",'key1':"Value2",'key1':"Value5",'key2':"Value9"}

In [ ]:
D1

{'key1': 'Value5', 'key2': 'Value9'}

In [ ]:
D1['key1']

'Value5'

In [ ]:
D2={1:7,2:10,3:[1,2,3]}

In [ ]:
D2

{1: 7, 2: 10, 3: [1, 2, 3]}

In [ ]:
D2[1]

7

In [ ]:
D2[3]

[1, 2, 3]

In [ ]:
D2[3][1]

2

**Starting with an empty Dictionary**

In [ ]:
Dict = {}
Dict['number'] = 123
Dict['letter'] = "ABC"
print(Dict)

{'number': 123, 'letter': 'ABC'}

**Modifying Values in a Dictionary**

In [ ]:
Dict['number']=456
print(Dict)

{'number': 456, 'letter': 'ABC'}

**Removing a Key-Value pair from Dictionary**

In [ ]:
del Dict['number']
print(Dict)

{'letter': 'ABC'}

**Doing Some Operations on Dictionary**

In [ ]:
D2[1]=90

In [ ]:
D2

{1: 90, 2: 10, 3: [1, 2, 3]}

In [ ]:
D2[33]=33

In [ ]:
D2

{1: 90, 2: 10, 3: [1, 2, 3], 33: 33}

In [ ]:
D2.keys()

dict_keys([1, 2, 3, 33])

In [ ]:
D2.values()

dict_values([90, 10, [1, 2, 3], 33])

In [ ]:
D2.items()

dict_items([(1, 90), (2, 10), (3, [1, 2, 3]), (33, 33)])

**Looping Through a Dictionary**

In [ ]:
fb = {
'name': 'jen',
'age': '18',
'last seen': 'two mintes ago',
}

In [ ]:
for key, value in fb.items():
  print("\nKey: " + key)
  print("Value: " + value)

Key: name
Value: jen

Key: age
Value: 18

Key: last seen
Value: two mintes ago

In [ ]:
student_studyyear = {
 'jen': 'standard 5',
'sarah': 'standard 2',
'edward': 'honours second year',
'phil': 'nursery',
}

**Basic idea of looping through key or value is**

**for key, value in Dictionary.items()**

In [ ]:
for student, studyyear in student_studyyear.items():                       #here student is in place of key & studyyear is in place of value
  print(student.title() + "'s study year is " + studyyear.title() + ".")   #for acessing each key student is used and value studyyear is used

Jen's study year is Standard 5.
Sarah's study year is Standard 2.
Edward's study year is Honours Second Year.
Phil's study year is Nursery.

**Basic idea of looping only keys is**

**for keys in Dictionary.keys()**

In [ ]:
for student in student_studyyear.keys():
  print(student.title())

Jen
Sarah
Edward
Phil

In [ ]:
friends = ['phil', 'sarah']
for student in student_studyyear.keys():
  print(student.title())
  if student in friends:
    print(" Hello my friend " + student.title() + "! You are studying at " + student_studyyear[student].title() + ", right?")

Jen
Sarah
 Hello my friend Sarah! You are studying at Standard 2, right?
Edward
Phil
 Hello my friend Phil! You are studying at Nursery, right?

In [ ]:
for student in sorted(student_studyyear.keys()):
  print(student.title() + ", study attentively!")

Edward, study attentively!
Jen, study attentively!
Phil, study attentively!
Sarah, study attentively!

**Basic idea of looping only keys is**

**for values in Dictionary.values()**

In [ ]:
print("The following study years have been mentioned:")
for studyyear in student_studyyear.values():
  print(studyyear.title())

The following study years have been mentioned:
Standard 5
Standard 2
Honours Second Year
Nursery

**Explore more methods of Dictionary:**

clear()	    Removes all the elements from the dictionary

copy()	    Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	      Returns the value of the specified key

items()   	Returns a list containing a tuple for each key value pair

keys()	    Returns a list containing the dictionary's keys

pop()	      Removes the element with the specified key

popitem()	  Removes the last inserted key-value pair

setdefault() Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary