# for Loops

A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item.

    for item in object:
        statements to do stuffs

**Example 1**

**range()**

range() function returns a sequence of numbers,starting from 0 by defaul and increments by 1 and stops before a specified number.

In [ ]:
range(30)

range(0, 30)

In [ ]:
list(range( 30 ))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [ ]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  i=i+2
  print(i)

2
3
4
5
6
7
8
9
10
11

In [ ]:
s=0
for i in range(5):
  n=int(input("Enter Number:"))
  s=s+n
print("Sum: ",s)

In [ ]:
for i in range(5):
  for j in range(2):
    print(1, end=' ')

1 1 1 1 1 1 1 1 1 1

**Example 2**

In [ ]:
L=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
for i in L:
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in L:
  i=i+5
  print(i)

5
6
7
8
9
10
11
12
13
14

**Example 3**

In [ ]:
L2=[0,1,2,"3","Student",'We']

In [ ]:
for i in L2:
  print(i)

0
1
2
3
Student
We

In [ ]:
for i in L2:
  i=i+2
  print(i)

In [ ]:
L3=["0",'1','10','Student']

In [ ]:
for i in L3:
  i=i+" 2"
  print(i)

0 2
1 2
10 2
Student 2

**Example 4**

In [ ]:
s="Notebook"

In [ ]:
for i in s:
  print(i)

N
o
t
e
b
o
o
k

In [ ]:
for i in s:
  i=i+"2"
  print(i)

N2
o2
t2
e2
b2
o2
o2
k2

**Example 5**

In [ ]:
L4=[1,2,8,9,23,45,40,70]

In [ ]:
for i in L4:
  if i%2==0:
    print(i," Even")
  else:
    print(i," Odd")

1  Odd
2  Even
8  Even
9  Odd
23  Odd
45  Odd
40  Even
70  Even

In [ ]:
for i in L4:
  if i%2==0:
    print(i," Even")
  else:
    print(i," Odd")
else:
  print("List is finished")

1  Odd
2  Even
8  Even
9  Odd
23  Odd
45  Odd
40  Even
70  Even
List is finished

**Example 6**

In [ ]:
L6=[[1,2],[67,65,60],[4]]

In [ ]:
for i in L6:
  print(i)

In [ ]:
for i in L6:
  for j in i:
    print(j)

1
2
67
65
60
4

In [ ]:
L7=[[1,2],[3,4],[67,90,99]]

In [ ]:
for (i,j) in L7:
  print(i,j)

1 2
3 4

ValueError: ignored

**Example 7**

In [ ]:
s={1,2,9}

In [ ]:
for i in s:
  print(i)

# while Loops

The while statement in Python is one of most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. 

    while test:
        code statements
    else:
        final code statements

**Example 8**

In [ ]:
x=0

In [ ]:
while x<10:
  print(x)

**Example 9**

In [ ]:
y=0

In [ ]:
while y<10:
  print("y less than ten")
  y=y+1
else:
  print("y is greater than 10")

In [ ]:
L=[1,2,3,4,8]
i=0

In [ ]:
length=len(L)

In [ ]:
while i<length:
  print(L[i])
  i=i+1
else:
  print("End of List")

**Example 10**

In [ ]:
s="Notebook"
i=0

In [ ]:
l=len(s)

In [ ]:
while i<l:
  print(s[i])
  i=i+1
else:
  print("End of string")

# Break,Continue Statements

We can use break, continue statements in our loops to add additional functionality for various cases.

In [ ]:
a=[1,2,3,10,90]

In [ ]:
for i in a:
  if i==10:
    print("I got ten.")
    break
  else:
    print(i)

1
2
3
I got ten.

In [ ]:
j=0
while j<len(a):
  if a[j]==10:
    print("I got 10.")
    break
  else:
    print(a[j])
    j=j+1

1
2
3
I got 10.

In [ ]:
for i in a:
  if i==10:
    print("I got ten.")
    break
  else:
    continue
    print(i)

I got ten.

In [ ]:
j=0
while j<len(a):
  if a[j]==10:
    print("I got 10.")
    break
  else:
    j=j+1
    continue
    print(a[j])

I got 10.